input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type="search"]{
    background-color: #005045;
    font-size: 1rem;
    color: #fff !important;
    outline: none;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.search-list::placeholder{
    color: #DFE3FA !important;
}

.list-search{
    padding-bottom: 1rem;
}
.search-list{
    width: 100%;
    padding : .9rem .4rem .9rem .5rem;
    margin-bottom: 1rem;
}
.search-icon{
    right: 8rem;
}

.icon{
    width: 100%;
}

.list-container{
    padding: 8rem 0 !important;
}
.list-box{
    gap: 3rem;
}

.list-button-box{
    width: 200px;
    gap: 2rem;
}


.btn-tambah{
    padding : .8rem .4rem .8rem .4rem;
    background-color: #005045 ; 
    border: none;
    gap: .6rem;
    transition: all .5s;
}
.btn-tambah:hover{
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    background-color: #287761;
}
.p-add{
    font-size: .8rem;
    color: #fff;
    padding-top: .2rem;
    transition: all .5s;
}

.list-link{
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 10px;
}
.link{
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #287761 ;
    /* padding: 2rem !important; */
}

.list-wrap{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.link-address{
    font-size: 1.1rem;
}
.link-address:hover{
    color: #33D69F;
}
.btn-detail{
    gap: .5rem;
    border : none;
    width: 120px;
    padding: .6rem 1rem;
    background-color: #b5d5c0 ;
    transition: all .5s;
}
.btn-detail:hover{
    background-color: #005045;
    box-shadow: rgba(50, 50, , 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.btn-detail:hover .p-detail{  
    color: #b5d5c0;
}
.btn-detail:hover .round{  
    background: #b5d5c0;
}
.round{
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background: #287761;
    transition: all .5s;
}
.p-detail{
    padding-top: 0.1rem;
    color: #005045;
    font-weight: 600;
    transition: all .5s;
}

.icon-link-box{
    gap: 1.5rem;
}
@media (min-width: 1200px) {
    .container-lg{
        max-width: 45% !important;
    }
}

@media (max-width: 1024px) {
    .container-lg{
        max-width: 80% !important;
    }
}